# Executables
/FlappyBird/*.exe
/FlappyBird/*.out
/FlappyBird/*.app

/FlappyBird/*.sln
/FlappyBird/*.userprefs
/FlappyBird/*.csproj
/FlappyBird/*.pidb
/FlappyBird/*.unityproj
/FlaapyBird/.DS_Store
/FlappyBird/Library/
/FlappyBird/Library/FailedAssetImports.txt
/FlappyBird/Library/cache/
/FlappyBird/Library/previews/
/FlappyBird/Library/ScriptAssemblies/
/FlappyBird/Library/UnityAssemblies/
/FlappyBird/obj
/FlappyBird/Temp
/FlappyBird/Assets/Plugins

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
FlappyBird/Library/CurrentLayout.dwlt
FlappyBird/Library/CurrentLayout.dwlt
*.meta
*.csproj
FlappyBird/FlappyBird.Editor.csproj
